body{
    background: url(/images/background\ clouds.jpg);
    background-position: center;
}
form{
        float: right;
        margin-top: 3em;
        margin-right: 20px;
      
}

.header{
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 5px solid rgb(31, 29, 29);
    border-radius: 15px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 0px;
    margin: 20px auto;
    max-width: 800px;
}
ul li{
    font-size: 22px;
    list-style: none;

}


p{
font-size: 1.5rem;
}

.celsius{
    color: whitesmoke;
    cursor: default;
    text-decoration: none;
    font-weight: 300;
}
.celsius:hover{
    color: whitesmoke ;
}
 .fahr{
        color: whitesmoke;
        cursor: default;
        text-decoration: none;
        font-weight: 300;
    }
    .fahr:hover{
        color: whitesmoke ;
    }
    .middle-area{
        text-align: center;
        
    }
.footer{
    color: white;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    border: 5px solid rgb(31, 29, 29);;
    border-radius: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 0px;
    margin: 10px auto;
    max-width: 800px;

}